[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
daiquiri = "*"
"beautifulsoup4" = "*"
lxml = "*"
toml = "*"
thoth-python = "*"

[requires]
python_version = "3.6"